/* navbar */
.nav-link,
.navbar-brand,
#footer {
  color: dodgerblue;
}
.nav-item {
  cursor: pointer;
}
/* modal */
.modal-title {
  color: #003366;
}

.btn {
  color: rgb(129, 192, 255);
  font-weight: bold;
}
/* ----------------------------------------------
--------------vertical line divider--------------                  
---------------------------------------------- */
.card-footer {
  background-color: transparent;
  border: none;
}
/* ----------------------------------------------
--------------vertical line divider--------------                  
---------------------------------------------- */
body,
html {
  height: 90%;
}
.outer {
  width: 1px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.inner {
  position: absolute;
  width: 100%;
  height: 40%;
  background: grey;
  top: 30%;
  box-shadow: 0px 0px 30px 20px grey;
}

/* p color */
body {
  color: #010911;
}
/* Custom auto type styles */
span {
  color: dodgerblue;
}
.auto-type {
  text-decoration: underline;
}
/* Header Parallax Element Style*/
.hero {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/assets/markus-spiske-hvSr_CVecVI-unsplash.jpg);
}
#divheight {
  height: 80vh;
}
.hero img {
  height: 45vh;
}

/* back to top button */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: dodgerblue;
}

/* project overlay for project information on hover*/
.project-image {
  position: relative;
}

.project {
  display: block;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.project-overlay--blur {
  backdrop-filter: blur(5px);
}

.project-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.project-overlay:hover {
  opacity: 1;
}

.project-overlay:hover > * {
  transform: translateY(0);
}
/* project font size */
.project-description {
  padding: 5px;
  text-align: center;
  font-size: 0.5rem;
}

/* project image sizing */
.card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: fill;
}

/* ----------------------------
    ---section divider---
----------------------------- */
.divider {
  display: table;
  font-size: 35px;
  text-align: center;
  width: 75%; /* divider width */
  margin: 20px auto; /* spacing above/below */
  font-weight: 500;
}

.divider span {
  display: table-cell;
  position: relative;
}
.divider span:first-child,
.divider span:last-child {
  width: 50%;
  top: 25px; /* adjust vertical align */
  -moz-background-size: 100% 5px; /* line width */
  background-size: 100% 5px; /* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}

.divider span:first-child {
  /* color changes in here */
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(transparent),
    to(dodgerblue)
  );
  background-image: -webkit-linear-gradient(180deg, transparent, dodgerblue);
  background-image: -moz-linear-gradient(180deg, transparent, dodgerblue);
  background-image: -o-linear-gradient(180deg, transparent, dodgerblue);
  background-image: linear-gradient(90deg, transparent, dodgerblue);
}

.divider span:nth-child(2) {
  color: dodgerblue;
  padding: 0px 5px;
  width: auto;
  white-space: nowrap;
}

.divider span:last-child {
  /* color changes in here */
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(dodgerblue),
    to(transparent)
  );
  background-image: -webkit-linear-gradient(180deg, dodgerblue, transparent);
  background-image: -moz-linear-gradient(180deg, dodgerblue, transparent);
  background-image: -o-linear-gradient(180deg, dodgerblue, transparent);
  background-image: linear-gradient(90deg, dodgerblue, transparent);
}
/* -----------------------------------
      -------form styles------
----------------------------------- */
form {
  color: dodgerblue;
 
  border-radius: 5%;
}
/* -----------------------------------
      -------header pic styles------
----------------------------------- */

/* -------------------------------------------
    media query between mobil and tablet
-------------------------------------------- */
@media (min-width: 321px) and (max-width: 769px) {
  .pictures {
    display: flex;
    flex-direction: column;
    width: 245px;
    justify-content: space-between;
  }
}
@media (min-width: 320px) {
  #divheight {
    padding-left: 10px;
  }
}
